<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body>
  <div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

<script>
document.addEventListener('DOMContentLoaded', function() {
  const pageLinks = document.querySelectorAll('.page-link');

  // Function to update active-tab class based on the current page
  function updateActiveTab() {
    const currentPagePath = window.location.pathname;
    pageLinks.forEach(link => {
      if (link.getAttribute('href') === currentPagePath) {
        link.classList.add('active-tab');
      } else {
        link.classList.remove('active-tab');
      }
    });
  }

  // Initial update of active-tab class
  updateActiveTab();

  // Add click event listener to all links
  pageLinks.forEach(link => {
    link.addEventListener('click', function(event) {
      const href = link.getAttribute('href');
      const isExternalLink = link.classList.contains('external-link');

      // Update active-tab class after navigation
      if (!isExternalLink) {
        // Prevent default behavior for internal links
        event.preventDefault();
        // Navigate to the URL in the same tab for internal links
        window.location.href = href;

        // Remove 'active-tab' class from all links
        pageLinks.forEach(link => link.classList.remove('active-tab'));
        // Add 'active-tab' class to the clicked link after a short delay
        setTimeout(() => link.classList.add('active-tab'), 100);
      } else {
        // Prevent default behavior for external links
        event.preventDefault();
        // Open external link in a new tab
        window.open(href, '_blank');
      }
    });
  });
});
</script>

</body>

</html>
